<div class="text-center">
    <h6>{{ title }}</h6>
    <h5>{{ instances|length }}</h5>
</div>
<ul class="fa=ul">
    {% for user in users %}
        <li>
            <i class="fa fa-li fa-user"></i>
            <p class="text-info"><strong>Username</strong> <a href="{% url 'iam:user' user.UserName %}">{{ user.UserName }}</a>
                {% if user.PasswordLastUsed %}<br/><strong>Last login</strong> {{ user.PasswordLastUsed }}{% endif %}
            </p>

            <p>ARN: <small>{{ user.Arn }}</small></p>
            <p>ID: <small>{{ user.UserId }}</small></p>
            <p>Created: <small>{{ user.CreateDate }}</small></p>

        </li>
    {% endfor %}
</ul>
