{% extends 'lib/base.html' %}


{% block mainbody %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-brand rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">EC2 Instances</h6>
            <small>{{ instances|length }} total</small>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div id="young-instances" class="card-body">
                        {% include 'ec2/partials/instances_list.html' with show_full_instance_details=True %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div id="old-instances" class="card-body">
                        {% include 'ec2/partials/instances_list.html' with show_full_instance_details=True %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock mainbody %}

{% block ajax %}
    <script>
        $.ajax({
            url: "{% url 'ec2:old_instances_list' %}",
            method: 'GET',
            beforeSend: function() {
                $('#old-instances').html('<h2 class="text-center"><i class="fa fa-spinner fa-spin"></i></h2>')
            },
            success: function(response) {
                $('#old-instances').html(response);
            }
        });       
        
        $.ajax({
            url: "{% url 'ec2:young_instances_list' %}",
            method: 'GET',
            beforeSend: function() {
                $('#young-instances').html('<h2 class="text-center"><i class="fa fa-spinner fa-spin"></i></h2>')
            },
            success: function(response) {
                $('#young-instances').html(response);
            }
        });
    </script>
{% endblock ajax %}